@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none; 
  margin: 0;
} */
/*
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
} */

.title {
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.1em;
  font-family: "Kanit", sans-serif;
  font-size: 44px;
  font-weight: 900;
  text-shadow: 0px 2px #ef9a38, 0px 4px #e0683e, 0px 6px #dc4843,
    0px 8px #af2038, 0px 10px #15c3ba;
}
